@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla&display=swap");

@font-face {
  font-family: "Bluu Next";
  src: url("/fonts/BluuNext/BluuNext-BoldTitling.otf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #d6d3d1;
  --foreground: #1c1917;
}

[data-theme="dark"] {
  --background: #292524;
  --foreground: #e7e5e4;
}

body {
  transition-duration: 200ms;
}
