@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

@font-face {
  font-family: "Bluu Next";
  src: "/fonts/BluuNext/BluuNext-Bold.otf";
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: dark;
}
body {
  color: white;
  background: #1c1917;
}
img {
  transition: 0.4s;
}
