@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla&display=swap");

@font-face {
  font-family: "Bluu Next";
  src: "/fonts/BluuNext/BluuNext-Bold.otf";
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    color: #1c1917;
    background: #e7e5e4;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #e7e5e4;
    background: #1c1917;
  }
}
